body {
    font-family: Arial, sans-serif;
    background: linear-gradient(43deg, rgb(0, 0, 0) 0%, rgb(30, 30, 30) 46%, rgb(59, 59, 59) 100%);
    color: #ffffff;
    margin: 0;
    padding: 0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.container {
    text-align: center;
    background-color: #000000;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
 
}

header p {
    font-size: 1.2em;
    color: #000000;
}

.slogan {
    font-size: 1.5em;
    margin: 20px 0;
}

footer p {
    font-size: 1em;
    color: #000000;
    margin: 0;
}body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    overflow-x: hidden;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

#page1 {
    /* background-color: #000000; */
    color: #ffffff;
    display: flex;
    align-items: left;
    text-align: left;
}

#page2 {
    background-color: #000000;
    color: #fff;
    display: flex;
}

.modal {
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: all 0.3s ease-in-out;
  z-index: -1;
  align-items: center;
  justify-content: center;
}
.modal.open {
  opacity: 1;
  z-index: 999;
}
.modal-inner {
  background: #fff;
  padding: 20px;
  width: 380px;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
  color: black;
 
}

#dabba{
  display: flex;
  align-items: center;
}
#loginbtn{
  padding: 10px 20px;
  font-size: 1em;
  color: #ffffff;
  background-color: #00000000;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
#loginbtn:hover{
  text-decoration: underline;

}
#username{
  height: 50px;
  width: 250px;
  border: solid 1px;
  
}
.cta-button{
    padding: 10px 20px;
    font-size: 1em;
    color: #000000;
    background-color: #ffffff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

button:hover {
    background-color: #a6a6a6;
}

.chatbot {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:  #000000;
    font-size: 1.5em;
    cursor: pointer;
    object-fit:cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
 .img{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
 }
.chatbot-icon {
    font-size: 1.5em;
}

.servicebox {
    height: 150px;
    width: 300px;
    background-color: #a6a6a665;
    display: flex;
    border-radius: 25px;
    margin: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#line1{
    display: flex;
}
#line2{
    display: flex;
}
/* From Uiverse.io by kennyotsu */ 
/*works janky on mobile :<*/
.container {
  
    position: relative;
    width: 250px;
    height: 100px;
    transition: 200ms;
  }
  
  .container:active {
    width: 250px;
    height: 100px;
  }
  
  #card {
    position: absolute;
    inset: 0;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: 700ms;
    background: linear-gradient(43deg, rgb(50, 50, 50) 0%, rgb(118, 118, 118) 46%, rgb(204, 204, 204) 100%);
  }
  
  .subtitle {
    transform: translateY(160px);
    color: rgb(134, 110, 221);
    text-align: center;
    width: 100%;
  }
  
  .title {
    opacity: 0;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out-out;
    transition-delay: 100ms;
    position: absolute;
    font-size: x-large;
    font-weight: bold;
    color: white;
  }
  
  .tracker:hover ~ #card .title {
    opacity: 1;
  }
  
  #prompt {
    bottom: 8px;
    left: 12px;
    z-index: 20;
    font-size: 20px;
    font-weight: bold;
    transition: 300ms ease-in-out-out;
    position: absolute;
    max-width: 110px;
    color: rgb(255, 255, 255);
  }
  
  .tracker {
    position: absolute;
    z-index: 200;
    width: 100%;
    height: 100%;
  }
  
  .tracker:hover {
    cursor: pointer;
  }
  
  .tracker:hover ~ #card #prompt {
    opacity: 0;
  }
  
  .tracker:hover ~ #card {
    transition: 300ms;
    filter: brightness(1.1);
  }
  
  .container:hover #card::before {
    transition: 200ms;
    content: '';
    opacity: 80%;
  }
  
  .canvas {
    perspective: 800px;
    inset: 0;
    z-index: 200;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "tr-1 tr-2 tr-3 tr-4 tr-5"
      "tr-6 tr-7 tr-8 tr-9 tr-10"
      "tr-11 tr-12 tr-13 tr-14 tr-15"
      "tr-16 tr-17 tr-18 tr-19 tr-20"
      "tr-21 tr-22 tr-23 tr-24 tr-25";
  }
  
  #card::before {
    content: '';
    background: linear-gradient(43deg, rgb(0, 0, 0) 0%, rgb(130, 130, 130) 46%, rgb(255, 255, 255) 100%);
    filter: blur(2rem);
    opacity: 30%;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    transition: 200ms;
  }
  
  .tr-1 {
    grid-area: tr-1;
  }
  
  .tr-2 {
    grid-area: tr-2;
  }
  
  .tr-3 {
    grid-area: tr-3;
  }
  
  .tr-4 {
    grid-area: tr-4;
  }
  
  .tr-5 {
    grid-area: tr-5;
  }
  
  .tr-6 {
    grid-area: tr-6;
  }
  
  .tr-7 {
    grid-area: tr-7;
  }
  
  .tr-8 {
    grid-area: tr-8;
  }
  
  .tr-9 {
    grid-area: tr-9;
  }
  
  .tr-10 {
    grid-area: tr-10;
  }
  
  .tr-11 {
    grid-area: tr-11;
  }
  
  .tr-12 {
    grid-area: tr-12;
  }
  
  .tr-13 {
    grid-area: tr-13;
  }
  
  .tr-14 {
    grid-area: tr-14;
  }
  
  .tr-15 {
    grid-area: tr-15;
  }
  
  .tr-16 {
    grid-area: tr-16;
  }
  
  .tr-17 {
    grid-area: tr-17;
  }
  
  .tr-18 {
    grid-area: tr-18;
  }
  
  .tr-19 {
    grid-area: tr-19;
  }
  
  .tr-20 {
    grid-area: tr-20;
  }
  
  .tr-21 {
    grid-area: tr-21;
  }
  
  .tr-22 {
    grid-area: tr-22;
  }
  
  .tr-23 {
    grid-area: tr-23;
  }
  
  .tr-24 {
    grid-area: tr-24;
  }
  
  .tr-25 {
    grid-area: tr-25;
  }
  
  .tr-1:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(20deg) rotateY(-10deg) rotateZ(0deg);
  }
  
  .tr-2:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(20deg) rotateY(-5deg) rotateZ(0deg);
  }
  
  .tr-3:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(20deg) rotateY(0deg) rotateZ(0deg);
  }
  
  .tr-4:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(20deg) rotateY(5deg) rotateZ(0deg);
  }
  
  .tr-5:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(20deg) rotateY(10deg) rotateZ(0deg);
  }
  
  .tr-6:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(10deg) rotateY(-10deg) rotateZ(0deg);
  }
  
  .tr-7:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(10deg) rotateY(-5deg) rotateZ(0deg);
  }
  
  .tr-8:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(10deg) rotateY(0deg) rotateZ(0deg);
  }
  
  .tr-9:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(10deg) rotateY(5deg) rotateZ(0deg);
  }
  
  .tr-10:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(10deg) rotateY(10deg) rotateZ(0deg);
  }
  
  .tr-11:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(0deg) rotateY(-10deg) rotateZ(0deg);
  }
  
  .tr-12:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(0deg) rotateY(-5deg) rotateZ(0deg);
  }
  
  .tr-13:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  
  .tr-14:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(0deg) rotateY(5deg) rotateZ(0deg);
  }
  
  .tr-15:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(0deg) rotateY(10deg) rotateZ(0deg);
  }
  
  .tr-16:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-10deg) rotateY(-10deg) rotateZ(0deg);
  }
  
  .tr-17:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-10deg) rotateY(-5deg) rotateZ(0deg);
  }
  
  .tr-18:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-10deg) rotateY(0deg) rotateZ(0deg);
  }
  
  .tr-19:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-10deg) rotateY(5deg) rotateZ(0deg);
  }
  
  .tr-20:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-10deg) rotateY(10deg) rotateZ(0deg);
  }
  
  .tr-21:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-20deg) rotateY(-10deg) rotateZ(0deg);
  }
  
  .tr-22:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-20deg) rotateY(-5deg) rotateZ(0deg);
  }
  
  .tr-23:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-20deg) rotateY(0deg) rotateZ(0deg);
  }
  
  .tr-24:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-20deg) rotateY(5deg) rotateZ(0deg);
  }
  
  .tr-25:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-20deg) rotateY(10deg) rotateZ(0deg);
  }
  
  .noselect {
    -webkit-touch-callout: none;
     /* iOS Safari */
    -webkit-user-select: none;
     /* Safari */
     /* Konqueror HTML */
    -moz-user-select: none;
     /* Old versions of Firefox */
    -ms-user-select: none;
     /* Internet Explorer/Edge */
    user-select: none;
     /* Non-prefixed version, currently
                                      supported by Chrome, Edge, Opera and Firefox */
  }
 
/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.379);
    backdrop-filter: blur(20px)
}

.navbar h1 {
    font-size: 2.8rem;
    font-weight: 600; /* Poppins semi-bold */
    margin: 0;
}

.navbar p {
    font-size: 1.2rem;
    font-weight: 400; /* Poppins regular */
    margin: 0 10px;
    cursor: pointer;
}

.navbar .right {
    display: flex;
} */

/* Main content styling */
.container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* height: 100vh; */
    padding-left: 20px;
    
}

#solutions {
    font-size: 1.5rem;
    font-weight: 400; /* Poppins regular */
    max-width: 600px;
    margin-top: 20px;
}


#getStarted {
    font-size: 1.2rem;
    font-weight: 700; /* Poppins medium */
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    background: linear-gradient(43deg, rgb(177, 177, 177) 0%, rgb(120, 120, 120) 46%, rgb(255, 255, 255) 100%);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 50px;
}
#getStarted:hover{
    font-size: 1.3rem;
}

#legalQueries {
    
    font-size: 1rem;
    font-weight: 300; /* Poppins light */
    margin-top: 20px;
}

/* Fade-in effect */
.text-container p, .text-container h1, .text-container button {
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Faster transition */
}

